<%- include('includes/head') %> <%- include('includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo:</p>

      <div class="row">
        <div class="col">
          <div class="alert alert-danger">Um erro qualquer</div>
        </div>
      </div>

      <div class="responsive-table">
        <table class="table table-hover table-sm my-3">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">Endereço</th>
            </tr>
          </thead>
          <tr>
            <th scope="row">1</th>
            <td class="">Yuri</td>
            <td class="">Andrade</td>
            <td class="">(21)99999-9999</td>
            <td class="">yuri.g.andrade@gmail.com</td>
            <td class="">Estrada de Jacarepaguá, 5573</td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td class="">Daniel</td>
            <td class="">Pureza</td>
            <td class="">(21)99984-6064</td>
            <td class="">danielpureza@hotmail.com</td>
            <td class="">Estrada de Jacarepaguá, 5573</td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td class="">Leonardo</td>
            <td class="">Braga</td>
            <td class="">(21)9xxxx-xxx</td>
            <td class="">leo_bss12@hotmail.com</td>
            <td class="">Rua Antônio Cordeiro, 170</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

<%- include('includes/footer') %>
