<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
    <title>Home Page</title>
</head>

<body>
    <h1>Formulário de cadastro</h1>

    <form action="/" method="POST">
        Nome: <input type="text" name="nomeCliente"><br><br>
        Sobrenome <input type="text" name="sobrenomeCliente"><br><br><br>

        <button>Enviar</button>
    </form>
</body>

</html>