.main {
  background-color: white;
  padding: 30px;
  margin: 50px auto;
  max-width: 800px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.main h1 {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

/* form */

.main input[type='text'] {
  width: -webkit-fill-available;
  height: 30px;
}

button {
  display: block;
  height: 30px;
  margin: 10px auto;
}

form {
  display: block;
  margin: 0 auto;
}
